.footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: black;
    color: white;

    .footer-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center; 
        height: 16rem;
        width: 100vw;

        .footer-left {
            display: flex;
            flex-direction: column;
            align-items: center; 
            width: 50%;

            img {
                width: 50px;
                height: 50px;
                margin-right: 10px; 
            }

            p {
                max-width: 300px;
                font-size: 14px;
            }
        }

        .footer-right {
            display: flex;
            justify-content: space-between;
            gap: 90px;

            .footer-links,
            .footer-course,
            .footer-address {
                display: flex;
                flex-direction: column;

                
            }

            h3 {
                text-align: center; 
                font-size: 16px; 
            }

            a {
                text-decoration: none; 
                color: white; 
                margin: 5px 0;
                font-size: 14px;
                text-align: center;
            }

            p {
                line-height: 0.2; 

            }

        }

    }

    .footer-text {
        text-align: center;
    }
}